
asgiref==3.8.1

Django==5.0.6
django-allauth==0.63.3
django-allauth[socialaccount]
django-allauth-ui
django-widget-tweaks
dj-database-url
python-decouple==3.8
psycopg[binary]
gunicorn
requests
pika
whitenoise
amqp==5.2.0
annotated-types==0.7.0
asgiref==3.8.1
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
billiard==4.2.0
celery==5.4.0
certifi==2024.7.4
cffi==1.16.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.4
cron-descriptor==1.4.3
cryptography==42.0.8
daphne==4.1.2
dj-database-url==2.2.0
Django==5.0.6
django-allauth==0.63.3
django-allauth-ui==1.1.6
django-appconf==1.0.6
django-bootstrap-calendar==0.1.1
django-bootstrap-datepicker-plus==5.0.5
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-tempus-dominus==5.1.2.17
django-timezone-field==6.1.0
django-widget-tweaks==1.5.0
django_compressor==4.5
djangorestframework==3.15.2
gunicorn==22.0.0
hyperlink==21.0.0
idna==3.7
incremental==22.10.0
jsmin==3.0.1
jwt==1.3.1
kombu==5.3.7
msgpack==1.0.8
oauthlib==3.2.2
packaging==24.1
pika==1.3.2
prompt_toolkit==3.0.47
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
pyOpenSSL==24.1.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.1
rcssmin==1.1.2
redis==5.0.7
requests==2.32.3
requests-oauthlib==2.0.0
rjsmin==1.2.2
service-identity==24.1.0
six==1.16.0
slippers==0.6.2
sqlparse==0.5.0
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
zope.interface==6.4.post2
